/* 공통 */
.section-wrap {
  max-width: 1440px;
  margin-inline: auto;
  padding: 60px 30px;
}
.image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}
.slick-list {
  margin-right: -40px;
}
.slick-slide {
  padding-right: 40px;
}

/* mainpage #reviewsection */
#review .slick-dots {
  display: block;
  bottom: -50px;
}
#review .slick-dots li button:before {
  font-size: 10px;
  color: gray;
}
#review .slick-dots li {
  margin: 0 1px;
}
#review .slick-dots li.slick-active button:before {
  color: #ff4c4c;
}

/* .project-page-section .slick-list, */
.review-section .slick-list {
  overflow: visible;
}

/* react-datepicker */
.react-datepicker {
  border-color: #e7e7e7;
}
.react-datepicker-popper .react-datepicker__triangle {
  stroke: #e7e7e7;
}
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  fill: #222;
  color: #222;
}
.react-datepicker__navigation {
  top: 8px;
}
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
.react-datepicker__header {
  font-size: 1rem;
  background-color: #222222;
  border: 0;
  color: white;
}
.react-datepicker__month {
  margin: 0.8rem;
}
.react-datepicker__month-text {
  font-size: 0.9rem;
  padding-block: 3px;
}
/* Header.tsx */
/* Tailwindcss 적용 */
/* Footer.tsx */
/* Tailwind 적용 */
