/* 공통 */
.section-wrap {
  max-width: 1440px;
  margin-inline: auto;
  padding: 60px 30px;
}
.image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}
.slick-list {
  margin-right: -40px;
}
.slick-slide {
  padding-right: 40px;
}

/* mainpage #reviewsection */
#review .slick-dots {
  display: block;
  bottom: -50px;
}
#review .slick-dots li button:before {
  font-size: 10px;
  color: gray;
}
#review .slick-dots li {
  margin: 0 1px;
}
#review .slick-dots li.slick-active button:before {
  color: #ff4c4c;
}

/* .project-page-section .slick-list, */
.review-section .slick-list {
  overflow: visible;
}

/* react-datepicker */
.react-datepicker {
  border-color: #e7e7e7;
}
.react-datepicker-popper .react-datepicker__triangle {
  stroke: #e7e7e7;
}
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  fill: #222;
  color: #222;
}
.react-datepicker__navigation {
  top: 8px;
}
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
.react-datepicker__header {
  font-size: 1rem;
  background-color: #222222;
  border: 0;
  color: white;
}
.react-datepicker__month {
  margin: 0.8rem;
}
.react-datepicker__month-text {
  font-size: 0.9rem;
  padding-block: 3px;
}

/* #gathering cards */
#gathering .slick-list {
  padding: 40px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
}

.col {
  cursor: pointer;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px; /* 부모 요소에 perspective 설정 */
  position: relative;
  width: 100%;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden; /* 뒷면이 보이지 않게 설정 */
  text-align: center;
  min-height: 280px;
}

.front {
  background-position: center;
}

.back {
  /* background: #cedce7; */
  /* background: linear-gradient(45deg, #cedce7 0%, #596a72 100%); */
  transform: rotateY(180deg); /* 뒷면을 180도 회전시켜 놓음 */
}

.container:hover .front {
  transform: rotateY(-180deg); /* 마우스 오버 시 앞면을 회전 */
}

.container:hover .back {
  transform: rotateY(0deg); /* 마우스 오버 시 뒷면을 회전 */
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 2;
}

.front .inner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);

}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1.5s infinite;
}
