/* 공통 */
.section-wrap {
  max-width: 1820px;
  margin-inline: auto;
  padding: 60px 30px;
}
.image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}
.slick-list {
  margin-right: -40px;
}
.slick-slide {
  padding-right: 40px;
}

/* .project-page-section .slick-list, */
.review-section .slick-list {
  overflow: visible;
}

/* Header.tsx */
/* Tailwindcss 적용 */
/* Footer.tsx */
/* Tailwind 적용 */
